{% extends 'WowoCitiesBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span8">
        <table>
            <caption><h2>Top 10 USA cities</h2></caption>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Population</th>
                    <th>Area</th>
               </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ topCitiesSummary.population|number }}</th>
                    <th>{{ topCitiesSummary.landArea|number(1) }}</th>
               </tr>
           </tfoot>
           <tbody>
                {% for city in topCities %}
                    <tr>
                        <td>{{ city.rank }}</td>
                        <td>{{ city.name }}</td>
                        <td>{{ city.state.name }} ({{ city.state.shortcut }})</td>
                        <td>{{ city.population|number }}</td>
                        <td>{{ city.landArea|number(1) }}</td>
                    </tr>
                {% endfor %}
           </tbody>
        </table>
    </div>
    <div class="span8">
        <table>
            <caption><h2>Top 10 USA states with biggest cities</h2></caption>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>State</th>
                    <th>Capital</th>
                    <th>Cities number</th>
                    <th>Population</th>
                    <th>Biggest cities population</th>
                    <th>Biggest cities area</th>
               </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ topStatesSummary.population|number }}</th>
                    <th>{{ topStatesSummary.landArea|number(1) }}</th>
               </tr>
           </tfoot>
           <tbody>
                {% for state in topStates %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ state.name }}</td>
                        <td>{{ state.capital }}</td>
                        <td>{{ state.countCities }}</td>
                        <td>{{ state.population|number }}</td>
                        <td>{{ state.sumPopulation|number }}</td>
                        <td>{{ state.sumLandArea|number(1) }}</td>
                    </tr>
                {% endfor %}
           </tbody>
        </table>
    </div>
</div>
{% endblock %}
